page-category {



    .deleteicon{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 18px;
        margin-right: 20px !important;
        color: black;
    }

    .expense{
         color: rgba(201, 71, 71, 0.863);
         margin-top: -.6rem;
         font-size: 1% !important;
       }
       .income{
        font-size: 2px !important;
        margin-top: -.6rem;
        color: rgb(56, 121, 56);
       }

       .inc{
         background-color: rgb(56, 121, 56);
       }
       .exp{
        background-color: rgba(201, 71, 71, 0.863);
       }

       .inco{
          background: rgb(207, 241, 207);
       }
       .expe{
           background: rgba(247, 212, 212, 0.863);
       }

       .cardborder{
        border: 1px solid rgb(248, 164, 138);
       }


       .text-on-bottom > .button-inner {
        flex-direction: column;
      }


      .card1 {
        color: aliceblue;
        //background: #1E90FF;
        border-radius: 50%;
        display: inline-block;
        height: 50px;
        border: 2px solid #fff;
        padding-top: 8px;
        padding-left: 10px;
        text-align: center;
        margin: 5px;
        position: relative;
        width: 50px;
        }
       .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
         }

         .card-content-md{
             padding: 0px !important;
         }

      .cat-size{
        font-size: 1.1rem;
        font-weight: bold;
      }


}


.modal-addcategory {

    padding: 5% !important;
    background: rgba(0,0,0,0.7);
    .modal-wrapper {
        position: absolute;
        top: 50px;
        height: 60% !important;
        min-height: 40%;
        display: block;
        width: 90%;
    }
}
