page-addcategory {


// .modal-wrapper {
//     position: absolute;
//     top: 80px;
//     left: 10;

//     display: block;
//     width: 80%;
//     height: 60%;
// }
           //----- For open Add CategoryPage as a Modal
        //    ion-modal{
        //     padding: 30px;
        //     background: rgba(0,0,0,0.7)
        //     }
          //--------------

       .required{
            color:red;
        }
        .formstyling {
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          border:1px solid rgb(248, 159, 99);
          margin:0px;
          padding-left: 5px !important;
          outline: none;
      }


}
