page-icons {

    .mymodal {  
        width: 90%; 
        height: 90%; 
        top: 5%; 
        left: 5%; 
        right: 5%; 
        bottom: 5%;
     }

}

.modalscreenicon {

    padding: 5% !important;
    background: rgba(0,0,0,0.7);
.modal-wrapper {
position: absolute;
top: 80px;

display: block;
width: 90%;
height: 80%;
}
}
